@{
    var isLogin = Context.Request.Cookies["IsLogin"];
    var email = Context.Request.Cookies["Email"];
    var loggedUser = ViewBag.userdata as Online_Glossery_Project_2025.Models.MyUser;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online_Glossery_Project_2025</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
   

    <div class="container mt-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top py-3 mt-4">
        <div class="container text-center">
            &copy;Online Glossery Project
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
